.modal-header .close {
    outline: none; /* Bỏ viền */
    color: black; /* Màu chữ */
    opacity: 1; /* Độ trong suốt */
}

.modal-header .close:hover {
    color: black; /* Màu chữ khi di chuột qua */
    background-color: red;
    opacity: 0.75; /* Độ trong suốt khi di chuột qua */
}

/* Thay đổi màu nền của tiêu đề modal */
.modal-header {
    background-color: #007bff; /* Màu nền */
    border-bottom: none; /* Loại bỏ đường viền dưới */
    color: #fff; /* Màu chữ */
}

.modal-body label {
    margin-top: 13px;
    margin-bottom: 8px; /* Tăng khoảng cách giữa label và input */
}