a {
    color: blue;
    text-decoration: none;
    padding-right: 7px;
}

.img {
    line-height: 60px;
    height: 60px;
    width: 120px;
    background-image: url(../img/logo-chu-p-dep-01.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    padding: 20px;
    margin: 0;
    display: block;
    background-size: 100%;
}

span.alert.alert-info {
    font-size: 18px;
}