.be-top-header {
    background-color: #fff;
    border: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.be-top-header .navbar-nav>li>a.nav-link {
    line-height: 60px;
    color: #5a5a5a;
    font-size: 14px;
    padding: 0 18px;
    outline: 0;
}

.be-top-header .container-fluid {
    padding: 0;
}

.img {
    height: 60px;
    width: 120px;
    background-image: url(../img/logo-chu-p-dep-01.jpg);
    background-repeat: no-repeat;
    background-position: 20px center;
    margin: 0;
    background-size: 100%;
}

.nav-link {
    display: block;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.428571;
}

.be-top-header .container-fluid {
    padding: 0;
}

.navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.fass {
    color: #4285f4;
    text-decoration: none;
    background-color: transparent;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

a.fass {
    font-size: 13px;
}